:root {
    --section-height: 100%;
    --section-colour: #000000;
    --section-colour-hero: #000000;
    --section-colour-footer: #ddff87;
    --hero-text-colour: #fff;
    --rainbow: -webkit-linear-gradient(left, #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #7f00ff, #ff00ff);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Kantumruy Pro', sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

section{
    height: var(--section-height);
    background-color: var(--section-colour);
}

.hero {
    background-color: var(--section-colour-hero);
    height: 100vh;
    color: var(--hero-text-colour);
    font-size: 40px;
}

footer {
    background-color: var(--section-colour);
    color: white
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

li {
    list-style-type: none;
}


p {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.hero-area {
    display: flex;
    flex-direction: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text {
    margin-left: 80px;
    margin-top: 500px;
}

.socials {
    justify-content: center;
}

.button {
    width: 200px;
    height: 50px;
    margin-top: 100px;
    margin-bottom: 300px;
    background-color: #29216f;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: var(--hero-text-colour);
    padding-top: 5px;
    position: relative;
}

.button2 {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    position: relative;
}

.button-container {
    display: flex;
    width: 100vh;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--hero-text-colour);
}

.button:hover {
    background-color: #8b00b9;
}

.button:active {
    background-color: #393939;
}

.social {
    margin: 20px;
    fill: white
}

.svg1, .svg2 {
    width: 65px;
    height: 65px;
}

.svg1:hover {
    background-color: #009207;
    border-radius: 30px;
}

.svg1:active {
    background-color: rgb(183, 255, 193);;
    border-radius: 30px;
}

.svg2:hover {
    background-color: #009207;
    border-radius: 10px;
}

.svg2:active {
    background-color: rgb(183, 255, 193);;
    border-radius: 10px;
}

.sub-section {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.sub-section-projects {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin-left: 30px;
    padding: 30px;
}

.information {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    padding-left: 80px;
}

.headshot {
    display: flex;
    justify-content: space-around;
    width : 500px;
    border-radius: 500px;
}

.project-card {
    width: 300px;
    height: 600px;
    background-color: #290752;
    -webkit-box-shadow: 5px 5px 3px 3px #FF7B7B, 10px 10px 3px 3px #FFC478, 15px 15px 3px 3px #FFFA78, 20px 20px 3px 3px #BAFF73, 20px 20px 3px 3px #BAFF73; 
box-shadow: 5px 5px 3px 3px #FF7B7B, 10px 10px 3px 3px #FFC478, 15px 15px 3px 3px #FFFA78, 20px 20px 3px 3px #BAFF73, 20px 20px 3px 3px #BAFF73;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.subtext {
    font-size: 15px;
    font-weight: 400;
    color: white;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
    padding: 20px;
}
.project-image {
    width: 300px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.this-project {
    padding:50px;
    justify-content: left;
    text-align: center;
    border-width: 5px;
}

.portfolio-text {
    border-width: 5px;
    border-radius: 500px;
    border-color: #ee00ff;
    border-style: dotted;
}